{% extends "base.html" %}
{% block content %}
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<div class="jumbotron">
  <h1>Here is a list of all the Subjects.</h1>
  <table style="width:100%">
    <tr>
      <th>SUBJECT ID</th>
      <th>DEPARTMENT</th>
      <th>SEMESTER</th>
      <th>SUBJECT NAME</th>
      <th>TEACHER NAME</th>
    </tr>

    {% for sub in SUBJECT  %}

    <tr>
      <th>{{sub.sub_id}}</th>
      <th>{{sub.dept3}}</th>
      <th>{{sub.sem3}}</th>
      <th>{{sub.sub_name}}</th>
      <th>{{sub.teacher_name}}</th>

    </tr>
    {% endfor %}
    </table>


</div>
{% endblock %}
