{% extends "base.html" %}
{% block content %}
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<div class="jumbotron">
  <h1>Here is a list of all the Teachers.</h1>
  <table style="width:100%">
    <tr>
      <th>TEACHER ID</th>
      <th>TEACHER NAME</th>
      <th>DEPARTMENT</th>

    </tr>

    {% for teach in TEACHERS  %}

    <tr>
      <th>{{teach.tc_id}}</th>
      <th>{{teach.tc_name}}</th>
      <th>{{teach.tc_dept}}</th>


    </tr>
    {% endfor %}
    </table>


</div>
{% endblock %}
