{% extends "base.html" %}
{% block content %}
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>

<div class="jumbotron">
  <h1>Here is a list of all the students who were present on 4th Oct.</h1>
  <table style="width:100%">
    <tr>
      <th>NAME</th>
      <th>SEMESTER</th>
      <th>DEPARTMENT</th>
    </tr>

    {% for que2 in query5  %}

    <tr>
      <th>{{que2.name}}</th>
      <th>{{que2.sem}}</th>
      <th>{{que2.dept}}</th>


    </tr>
    {% endfor %}
    </table>


</div>
{% endblock %}
